.conteudo {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 95vh;
  position: absolute;
  left: 0;
}

.info {
  width: 60%;
  margin-right:90px;
  margin-top: 40px;
  color: #fff;
}

input {
  border: 1px solid #999999;
  border-radius:22px;
  min-width: 180px;
  width:70%;
  margin-right:20px;
  background: transparent;
  font-size:18px;
  padding:10px;
}

button {
  border: 1px solid #999999;
  border-radius:22px;
  min-width: 60px;
  width:15%;
  margin-right:12px;
  background:  #3B332D;
  font-size:18px;
  padding:10px;
  color: #ffffff
}

.user {
  display:flex;
  flex-direction: row;
  justify-items:center;
  align-items: center;
  margin: 40px 0;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: 2px solid #e5e5e5;
  margin:32px;
}

.user h3 {
  color:#999;
  font-size:24px;
  margin:0;
}

.user span {
  display:block;
  color:#999;
  font-size:12px;
  margin:0;
}

.user p {
  display:block;
  color:#999;
  font-size:12px;
  margin: 20px 0 0 0;
}

.repositorio {
  font-size: 32px;
  color:#fff;
  margin:12px 0;
  text-align: center;
}